.flex-container{
    display:flex;
    flex-wrap:wrap;
    margin: 5 rem;
    justify-content: center;
}

.card{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid white;
    overflow: hidden;
    width: 20%;
    transition: border 200ms ease-in, transform  100ms ease-in;


}

.img{
    border-radius: 2%;
    width: 100%;
    height: auto; 
    
}


.card:hover{
    border: 2px solid blue;
    transform:scale(1.05)
}